<!DOCTYPE html>
<html>
<head>
  <title>EnCITEopedia</title>
<%= stylesheet_link_tag '/stylesheets/depot.css', :media => :screen %>
<%= stylesheet_link_tag    'scaffold', :media => :screen %> 
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'form2' %>

<%= flash[:notice]%>
<table id="nqa">
  <tr>
    <th>aName </th>
    <th>Category</th>
    <th>hits</th>
    <th>thumbs</th>

    
    <th></th>
    <th></th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= article.aName %></td>
     <td><%= article.Category %></td>
    <td><%= article.hits %></td>
    <td><%= article.plusminus %></td>
    <td><%= link_to 'Show', article %></td>

	
<% if session[:remember_token] != nil%> 
    <td><%= link_to 'Edit', edit_article_path(article) %></td>
<% if session[:editor_id] == 11 %>
    <td><%= button_to 'Destroy', article, confirm: 'Are you sure?', method: :delete %></td>
<%end%>
  <%end%>  
  </tr>
<% end %>
</table>

<br />
<% if session[:remember_token] != nil%> 
<%= link_to 'New Article', new_article_path %>
<% end %>


</body>
</html>
